.App {
  max-width: 450px;
  margin: 10px auto;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #f2f2f1;
  border-radius: 4px;
}
.forecast-app {
  background-color: #f2f2f1;
  max-width: 450px;
  padding: 10px;
}
.weather-app {
  background-image: url("images/illustration.svg");
  background-repeat: no-repeat;
  max-width: 500px;
  height: 500px;
}
