.Forecast h2 {
  font-size: 16px;
  color: #63686e;
  font-weight: bolder;
  text-align: center;
}
.Forecast svg {
  width: 35px;
  height: 35px;
  margin: 0 0 5px 20px;
}

.Forecast h3 {
  font-size: 18px;
  text-align: center;
  color: #62760c;
  font-weight: bolder;
}
