.weather strong {
  font-size: 32px;
  color: #62760c;
  font-weight: bolder;
  line-height: 1;
}
.weather span {
  position: relative;
  font-size: 18px;
  top: -10px;
  color: #62760c;
}
.weather a {
  text-decoration: none;
  color: #62760c;
}
