.weather strong {
  font-size: 36px;
  color: #62760c;
  font-weight: bolder;
  line-height: 1;
}
.weather span {
  position: relative;
  font-size: 18px;
  top: -12px;
  color: #62760c;
}
.weather a {
  text-decoration: none;
  color: #62760c;
}
.description h2 {
  font-size: 20px;
  color: #62760c;
  font-weight: bolder;
  margin-top: 100px;
  text-transform: capitalize;
}
.description h3 {
  color: #62760c;
  font-size: 16px;
}
.icon svg {
  margin-left: 0px;
  margin-bottom: 20px;
}
.date h2 {
  color: #2f2e42;
  font-size: 20px;
  margin-bottom: 50px;
}
.city h1 {
  font-weight: bolder;
  font-size: 36px;
  color: #f50457;
  text-transform: uppercase;
}
.Search form {
  margin-top: 2px;
}
.btn {
  background-color: #ff6584;
  color: white;
  border: none;
}
.btn:hover {
  background-color: #ff6584;
  color: white;
}
.forecast-app {
  max-width: 450px;
  padding: 10px;
  margin-top: 20px;
}
